<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>192.168.1.247:8899/rpt-api</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.1.247</MSDeployServiceURL>
    <DeployIisAppPath>rpt-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VSK_Data_Dev" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=VSK_Data;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_Data_Dev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=VSK_Data;User Id=mis;Password=mis2020" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MIS_SERVICE" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=MIS_SERVICE;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MIS_SERVICE_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=MIS_SERVICE;User Id=mis;Password=mis2020" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_BR_KLH" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=VSK_BR_KLH;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_BR_KLH_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=VSK_BR_KLH;User Id=mis;Password=mis2020;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_RT_DEV" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=VSK_BR;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_RT_DEV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=VSK_BR;User Id=mis;Password=mis2020;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MsSqlConn" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.159;Initial Catalog=VSK_CN;User ID=sa;Password=Enterpri$e2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MsSqlConn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.159;Initial Catalog=VSK_CN;User Id=sa;Password=Enterpri$e2018" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MySqlConn" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=192.168.1.200;user=databaseadmin;password=root01$;database=PurchasePlan; CharSet=UTF8; Convert Zero Datetime=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MySqlConn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=192.168.1.200;user=databaseadmin;password=root01$;database=PurchasePlan; CharSet=UTF8; Convert Zero Datetime=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_Data" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.186;Initial Catalog=VSK_Data;User ID=sa;Password=Enterpri$e2018" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_Data_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.186;Initial Catalog=VSK_Data;User Id=sa;Password=Enterpri$e2018" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_MKT" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=VSK_MKT;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_MKT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=VSK_MKT;User Id=mis;Password=mis2020" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Vskmis" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.249;Initial Catalog=vskmis;User ID=sa;Password=enterprise" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Vskmis_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.249;Initial Catalog=vskmis;User Id=sa;Password=enterprise" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_BR" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=VSK_BR;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_BR_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=VSK_BR;User Id=mis;Password=mis2020;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_RT" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.213;Initial Catalog=vorswin;User ID=sa;Password=enterprise" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_RT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.213;Initial Catalog=vorswin;User Id=sa;Password=enterprise;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VSK_HR" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.247;Initial Catalog=VSK_HR;User ID=mis;Password=mis2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VSK_HR_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.1.247;Initial Catalog=VSK_HR;User Id=mis;Password=mis2020;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MIS_SERVICE-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MsSqlConn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MySqlConn-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Vskmis-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_BR-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_BR_KLH-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_Data-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_Data_Dev-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_HR-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_MKT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_RT-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VSK_RT_DEV-Web.config Connection String" />
  </ItemGroup>
</Project>